
<table class="table">
  <tr>
      <th *ngFor="let columaActual of nombresColumnas">{{columaActual}}</th>
  </tr>
  <ng-container *ngFor="let recorridoActual of recorridos; index as i">
    <img [src]="imagenes[i]" />
    <tr>
        <td>{{recorridoActual.nombreRecorrido}}</td>
      <!-- aqui necesito agregar un boton para redireccionar a otro componente -->
      <!-- <td><button (click)="redirigirAComponente(recorridoActual.id)">Ir a otro componente</button></td> -->

    </tr>
    <button (click)="redirigirAComponente()">Ir a Otra Ruta</button>
</ng-container>

</table>
